<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>517948125759-k75vhm1t8k9o32rden296kpo03klei30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.517948125759-k75vhm1t8k9o32rden296kpo03klei30</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>517948125759-aegmtit0srp23ktp6lco1m6tcjvhrgsa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCq4-GD9HK8sSvg3GXe5pVwkD0LWOPP1Ps</string>
	<key>GCM_SENDER_ID</key>
	<string>517948125759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.java90.nutrisportclone.NutriSportClone</string>
	<key>PROJECT_ID</key>
	<string>nutrisportclone</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrisportclone.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:517948125759:ios:b0671762967001ab22be8a</string>
</dict>
</plist>