<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDServerClientID</key>
	<string>517948125759-6uth3ipoh3e9n3nl3v36k8a5r91tnbmt.apps.googleusercontent.com</string>
	<key>GIDClientID</key>
	<string>517948125759-k75vhm1t8k9o32rden296kpo03klei30.apps.googleusercontent.com</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.517948125759-k75vhm1t8k9o32rden296kpo03klei30</string>
			</array>
		</dict>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
</dict>
</plist>
